@import "variables.css";
.default-logo {
    height: 42px;
}
.alt-logo {
    height: 38px;
}
.mobile-logo {
    height: 34px;
}

#myPageToggleButton {
    z-index: 201;
}
.header-button {
    position: relative;
}
.my-page-button {
    padding: 4px;
    border: none;
    background-color: #00000000;
}
.my-menu-div {
    z-index: 201;
    position: fixed;
    display: flex;
    flex-direction: column;

    top: 85px;
    right: 40px;
    padding: 10px;
    border: #666 solid 1px;
    border-radius: 5px;
    background-color: #ffffffff;
}
.my-menu-div a {
    line-height: 25px;
    margin-bottom: 7px;
    font-size: 16px;
    padding: 5px 7px;
    color: #222;
    display: block;
}
.my-menu-div a:hover {
    color: #FFF;
    background-color: #ccc;
    border-radius: 5px;
}
#myPageToggleBackdrop {
    z-index: 200;
    position: fixed;
    display: none;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity: 0;
}


/* ================================ */
/* ========== topSearch =========== */
/* ================================ */
/* 검색 */
@media only screen and (min-width: 992px) {
    /*#searchButton1 {
        display: flex;
        width: 170px;
        height: 35px;
        margin-right: 25px;
        border-radius: 7px;
        border: #444 solid 1px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }*/
    #searchButton1 {
        display: flex;
        width: 37px;
        height: 37px;
        margin-right: 25px;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #searchButton2 {
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    /*#searchButton1 {
        display: flex;
        width: 200px;
        height: 35px;
        margin-right: 10px;
        border-radius: 5px;
        border: #444 solid 1px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }*/
    #searchButton1 {
        display: flex;
        width: 37px;
        height: 37px;
        margin-right: 20px;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    #searchButton2 {
        display: none;
    }
}
@media only screen and (max-width: 575px) {
    #searchButton1 {
        display: none
    }
    #searchButton2 {
        display: flex;
        width: 37px;
        height: 37px;
        margin-right: 23px;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
}
/*#searchButton1 img {
    height: 18px;
    margin: 0;
    padding: 0 5px 0 3px;
    opacity: 0.7;
}
#searchButton1 p {
    flex: 1;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 14px;
    text-align: start;
}*/
#searchButton1 img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
#searchButton2 img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
/* 로그인 버튼 */
.login-button {
    white-space: nowrap;
    border-radius: 18px;
    height: 40px;
    width: 85px;
}
.login-button span {
    margin-top: -4px;
    margin-left: -3px;
}

/* 실제 검색창 */
.top-search-area {
    display: none;
    margin: 0;
    padding: 0;
}
.search-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #444;
    opacity: 0.5;
}
.prevent-scroll {
    overflow: hidden;
}
@media only screen and (min-width: 576px) {
    .search-front {
        width: 70%;
        max-width: 900px;
        top: 5px;
    }
}
@media only screen and (max-width: 575px) {
    .search-front {
        width: 100%;
        top: 0;
    }
}
.search-front {
    background-color: #fff;
    border-radius: 12px;
    border: #ddd solid 1px;
    z-index: 101;
    position: fixed;
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
/* 입력하는 부분 */
.search-top {
    padding: 0 10px;
}
.top-input-container {
    width: 100%;
    display: flex;
    border-radius: 6px;
    border: #ccc solid 1px;
    align-items: center;
    padding: 1px;
}
.border-highlight {
    border: var(--main-color) solid 2px;
    padding: 0;
}
.top-input-container > img {
    height: 16px;
    margin: 0 7px;
    opacity: 0.6;
}
.top-input-container input {
    flex: 1;
    padding: 7px 0;
    font-size: 15px;
    line-height: 23px;
    color: #333;
    border: none;
    caret-color: #333;
}
.top-input-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffff;
    border: none;
    height: 24px;
    padding: 4px;
    margin: auto 5px;
}
.top-input-container button:hover {
    background-color: #ddd;
    border-radius: 7px;
}
.top-input-container button img {
    height: 16px;
    opacity: 0.5;
}
/* 검색창 중간 */
.search-middle {
    padding: 0 10px;
}

/* 검색창 아래쪽 */
.search-bottom {
    margin-top: 6px;
    border-top: #ccc solid 1px;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0 10px;
}
.search-tip {
    font-size: 12px;
    line-height: 15px;
    color: var(--main-color)!important;
    background: none;
    border: none;
}
.search-bottom > div {
    flex: 1;
}
.feedback-button{
    font-size: 12px;
    line-height: 15px;
    margin-right: 3px;
    color: var(--main-color)!important;
    cursor: pointer;
    text-decoration: none;
}
.feedback-button:hover {
    text-decoration: underline;
}

/* 모달 스타일 */
.modal-body {
    font-size: 16px;
}
.modal-footer button {
    line-height: 20px;
    border-radius: 5px;
}
.modal-footer button.cancel:hover {
    background-color: #555;
}
.modal-footer button.sure {
    background-color: var(--main-color);
}
.modal-footer button.sure:hover {
    background-color: var(--main-hover-color);
    border-color: var(--main-hover-color);
}
#exampleModalFeedback textarea {
    color: #333;
    padding: 5px;
    line-height: 20px;
    resize: none;
    width: 100%;
    height: 130px;
    border-radius: 5px;
    border: #888 solid 1px;
    background-color: #0000;
    outline: none;
    caret-color: black;
}

/* 검색버튼 조정을 위함 */
#topMenuBar {
    display: flex;
    align-items: center;
}

/* 메뉴 backdrop */
#topMenuBar, #searchButton1, #searchButton2 {
    z-index: 200;
}
#navbarNav.show:before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100,100,100,0.0);
    content: '';
    z-index: -1;
}