<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C47HQ74QCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C47HQ74QCF');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2CX8XG3');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>쿠스토랑 -  로그인</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/library/style.min.css">
    <link rel="stylesheet" href="/css/login-style.css">
    <!-- 파비콘 -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="/js/loginScript.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"
            charset="utf-8"></script>

</head>


<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2CX8XG3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="main-grid">
        <div class="image-section">

            <img th:src="${imgUrl}">
        </div>
        <div class="login-section">
            <a class="logo" href="/"><img src="/img/home/kustaurantFullLogo.png">
            </a>

            <div class="login-container">
                <p>로그인</p>
                <a class="login-button" href="/oauth2/authorization/naver" role="button">
                    <img src="/img/login/login.png" alt="네이버 로그인">
                    <!--<p>네이버 계정으로 로그인</p>-->
                </a>
            </div>
        </div>
    </div>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "14b5af05d120a20";
    if(window.wcs) {
        wcs_do();
    }
</script>
</body>

</html>