<!DOCTYPE html>
<html xmlns:data-cuisine="http://www.w3.org/1999/xhtml" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C47HQ74QCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C47HQ74QCF');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2CX8XG3');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>쿠스토랑 - 티어</title>
    <meta charset="UTF-8"/>
    <!--    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" type="text/css" href="/css/navbar-style.css">-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!--  csrf token  -->
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <!-- 아이콘  -->
<!--    <script src="https://kit.fontawesome.com/0c60714712.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- 탭 관련 라이브러리 / 순서 지켜야함 -->
    <link rel="stylesheet" href="/css/library/vendors.min.css">
    <link rel="stylesheet" href="/css/library/style.min.css">
    <link rel="stylesheet" href="/css/library/responsive.min.css">
    <link rel="stylesheet" href="/css/library/restaurant.css">
    <link rel="stylesheet" type="text/css" href="/css/tier-style.css"/>
    <!-- 파비콘 -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- js   -->
    <script type="text/javascript" src="/js/library/jquery.js" defer></script>
    <script type="text/javascript" src="/js/library/vendors.min.js" defer></script>
    <script type="text/javascript" src="/js/library/main.js" defer></script>
    <script src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=u11upwlala" defer></script>
    <script src="/js/tierScript.js" defer></script>
    <script src="/js/restaurant/tierMapScript.js" defer></script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2CX8XG3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header th:replace="~{common/navbar-new :: navbarFragment}"></header>
<!--홈화면 배너-->
<section
        class="mt-0 top-banner age-title-big-typography cover-background p-0 md-background-position-left-center"
        style="background-image: url('/img/home/background.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center small-screen">
            <div class="col-lg-6 col-md-8 position-relative text-center page-title-extra-large appear anime-child anime-complete alt-font"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h1 class="alt-font text-dark-gray text-uppercase ls-minus-1px mb-0">티어표</h1>
                <h2 class="m-auto fw-600 text-uppercase mb-0">맛집 순위를 확인해보세요</h2>
                <th:h2 class="evaluations-count" th:text="${'현재 총 평가 수: ' + evaluationsCount}"></th:h2>
            </div>
        </div>
    </div>
</section>
<div class="category-background accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item category-item mb-0">
        <h2 class="accordion-header category-top">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                티어에 대한 설명
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="category-body accordion-collapse collapse">
            <div class="category-list category-list-top tier-description">
                식당의 티어는 여러분이 부여한 소중한 <strong>평가 점수</strong>가 반영되어 결정됩니다!</br>
                평가는 각 식당의 상세 페이지에서 할 수 있으며, 점수는 <strong>5점 만점</strong>입니다.</br>
                식당에 대한 <strong>모든 평가의 평균 점수</strong>로 티어가 산출됩니다!
            </div>
        </div>
    </div>
    <div class="accordion-item category-item">
        <h2 class="accordion-header category-top">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                카테고리
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="category-body accordion-collapse collapse">
            <div class="category-list" id="categoryList">
                <div class="cuisine">
                    <span class="text">종류</span>
                    <div class="buttons scrollable">
                        <a th:class="${cuisines eq null ? 'selected button category' : 'unselected button category'}" data-cuisine="ALL">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/전체.svg">
                            <span class="cuisine-link">전체</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '한식') ? 'selected button category' : 'unselected button category'}" data-cuisine="KO">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/한식.svg">
                            <span class="cuisine-link">한식</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '일식') ? 'selected button category' : 'unselected button category'}" data-cuisine="JA">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/일식.svg">
                            <span class="cuisine-link">일식</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '중식') ? 'selected button category' : 'unselected button category'}" data-cuisine="CH">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/중식.svg">
                            <span class="cuisine-link">중식</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '양식') ? 'selected button category' : 'unselected button category'}" data-cuisine="WE">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/양식.svg">
                            <span class="cuisine-link">양식</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '아시안') ? 'selected button category' : 'unselected button category'}" data-cuisine="AS">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/아시안.svg">
                            <span class="cuisine-link">아시안</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '고기') ? 'selected button category' : 'unselected button category'}" data-cuisine="ME">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/고기.svg">
                            <span class="cuisine-link">고기</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '치킨') ? 'selected button category' : 'unselected button category'}" data-cuisine="CK">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/치킨.svg">
                            <span class="cuisine-link">치킨</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '해산물') ? 'selected button category' : 'unselected button category'}" data-cuisine="SE">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/해산물.svg">
                            <span class="cuisine-link">해산물</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '햄버거/피자') ? 'selected button category' : 'unselected button category'}" data-cuisine="HP">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/햄버거피자.svg">
                            <span class="cuisine-link">햄버거/피자</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '분식') ? 'selected button category' : 'unselected button category'}" data-cuisine="BS">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/분식.svg">
                            <span class="cuisine-link">분식</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '술집') ? 'selected button category' : 'unselected button category'}" data-cuisine="PU">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/술집.svg">
                            <span class="cuisine-link">술집</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '카페/디저트') ? 'selected button category' : 'unselected button category'}" data-cuisine="CA">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/카페디저트.svg">
                            <span class="cuisine-link">카페/디저트</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '베이커리') ? 'selected button category' : 'unselected button category'}" data-cuisine="BA">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/베이커리.svg">
                            <span class="cuisine-link">베이커리</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, '샐러드') ? 'selected button category' : 'unselected button category'}" data-cuisine="SA">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/샐러드.svg">
                            <span class="cuisine-link">샐러드</span>
                        </a>
                        <a th:class="${cuisines ne null and #lists.contains(cuisines, 'JH') ? 'selected button category' : 'unselected button category'}" data-cuisine="JH">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/제휴업체.svg">
                            <span class="cuisine-link">제휴 업체</span>
                        </a>
                    </div>
                </div>

                <div class="cuisine">
                    <span class="text">상황</span>
                    <div class="buttons scrollable">
                        <a th:class="${situations eq null ? 'selected button category' : 'unselected button category'}" data-situation="ALL">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/cuisine-icon/전체.svg">
                            <span>전체</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 1L) ? 'selected button category' : 'unselected button category'}" data-situation="1">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/혼밥.png">
                            <span>혼밥</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 2L) ? 'selected button category' : 'unselected button category'}" data-situation="2">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/2~4인.png">
                            <span>2~4인</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 3L) ? 'selected button category' : 'unselected button category'}" data-situation="3">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/5인%20이상.png">
                            <span>5인 이상</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 4L) ? 'selected button category' : 'unselected button category'}" data-situation="4">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/단체%20회식.png">
                            <span>단체 회식</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 5L) ? 'selected button category' : 'unselected button category'}" data-situation="5">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/배달.png">
                            <span>배달</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 6L) ? 'selected button category' : 'unselected button category'}" data-situation="6">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/야식.png">
                            <span>야식</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 7L) ? 'selected button category' : 'unselected button category'}" data-situation="7">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/친구%20초대.png">
                            <span>친구 초대</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 8L) ? 'selected button category' : 'unselected button category'}" data-situation="8">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/데이트.png">
                            <span>데이트</span>
                        </a>
                        <a th:class="${situations ne null and #lists.contains(situations, 9L) ? 'selected button category' : 'unselected button category'}" data-situation="9">
                            <img src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/소개팅.png">
                            <span>소개팅</span>
                        </a>
                    </div>
                </div>

                <div class="position">
                    <span class="text">위치</span>
                    <div class="buttons scrollable">
                        <a th:class="${locations eq null ? 'selected button category' : 'unselected button category'}" data-location="ALL">
                            <span>전체</span>
                        </a>
                        <a th:class="${locations ne null and #lists.contains(locations, '건입~중문') ? 'selected button category' : 'unselected button category'}" data-location="L1">
                            <span>건입~중문</span>
                        </a>
                        <a th:class="${locations ne null and #lists.contains(locations, '중문~어대') ? 'selected button category' : 'unselected button category'}" data-location="L2">
                            <span>중문~어대</span>
                        </a>
                        <a th:class="${locations ne null and #lists.contains(locations, '후문') ? 'selected button category' : 'unselected button category'}" data-location="L3">
                            <span>후문</span>
                        </a>
                        <a th:class="${locations ne null and #lists.contains(locations, '정문') ? 'selected button category' : 'unselected button category'}" data-location="L4">
                            <span>정문</span>
                        </a>
                        <a th:class="${locations ne null and #lists.contains(locations, '구의역') ? 'selected button category' : 'unselected button category'}" data-location="L5">
                            <span>구의역</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mapArea" class="map-area">
    <div>
        <div id="map"></div>
        <div id="mapDescription">각 포인트를 누르면 상세 정보 확인 및<br>식당 이동이 가능합니다.</div>
        <button id="mapCloseButton">닫기</button>
    </div>
</div>
<div class="info-area">
    <div class="map-open-button-outer">
        <button id="mapOpenButton">
            <img src="/img/tier/map.png">
            <span>지도에서 보기</span>
        </button>
    </div>
    <div class="info-container">
        <span>평가를 비롯한 여러 지표를 통해 티어가 산출됩니다.</span>
        <div class="ai-tier">
            <label class="ai-checkbox-container">
                <input type="checkbox" id="aiTierCheckbox" th:checked="${aiTier}"/>
                <span>AI 기반 임시 티어 포함</span>
            </label>
            <div class="ai-tooltip">
                <div class="ai-tooltip-icon">?</div>
                <div class="ai-tooltip-text">
                    체크하시면,<br>
                    평가 데이터가 부족해 티어를 확인할 수 없는 식당도<br>
                    AI가 분석한 임시 티어가 적용되어<br>
                    티어표에 함께 표시됩니다.
                </div>
            </div>
        </div>
    </div>
</div>
<main id="tierChartMain">
    <table id="tierTable" class="tier-table">
        <colgroup>
            <col>
            <col>
            <col>
            <col th:if="${!isJH}">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th scope="col" th:text="${isJH ? '#' : '순위'}">순위</th>
            <th scope="col" style="min-width: 50px"></th>
            <th scope="col" style="text-align: left;">식당</th>
            <th th:if="${!isJH}" scope="col" style="font-weight: 700; color: #000; font-size:13px; padding-right: 6px; padding-left: 0;">티어</th>
            <th class="th-cuisine" scope="col" style="text-align: left; padding-right: 7px;">종류</th>
            <th scope="col" style="text-align: left;" id="th-situation">상황</th>
        </tr>
        </thead>
        <tbody id="tierTableBody">
        <th:block th:each="restaurantTierData : ${paging}">
            <!-- 메인 데이터 행 -->
            <tr th:class="${isJH != null and isJH ? 'tr-data-when-partnership tr-main' : 'tr-data tr-main'}" th:onclick="'window.location.href = \'' + @{/restaurants/{restaurantId}(restaurantId=${restaurantTierData.restaurantId})} + '\''">
                <td class="td-rank"
                    th:text="${restaurantTierData.restaurantRanking == null or (isJH != null and isJH)} ? '-' : ${restaurantTierData.restaurantRanking}"
                    style="min-width: 32px"></td>
                <td class="td-center" style="min-width: 58px; position: relative;">
                    <div style="width: fit-content; height: fit-content; padding: 0; margin: auto; position: relative;">
                        <!-- 조건에 따른 아이콘 표시 -->
                        <img class="favorite-icon restaurant-img-bottom-icon" th:if="${restaurantTierData.isEvaluated and restaurantTierData.isFavorite}" src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/check.png">
                        <img class="favorite-icon restaurant-img-top-icon" th:if="${restaurantTierData.isEvaluated and !restaurantTierData.isFavorite}" src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/check.png">
                        <img class="favorite-icon restaurant-img-top-icon" th:if="${restaurantTierData.isFavorite}" src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/star.png">
                        <!-- 식당 이미지 표시 -->
                        <img th:if="${restaurantTierData.restaurantImgUrl != 'no_img'}" class="td-main-img" th:src="${restaurantTierData.restaurantImgUrl}">
                        <img th:if="${restaurantTierData.restaurantImgUrl == 'no_img'}" class="td-main-img" src="https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/no_img.png">
                    </div>
                </td>
                <td class="td-name">
                    <div class="td-name-outer">
                        <span class="td-inner-name" th:text="${restaurantTierData.restaurantName}"></span>
                        <span class="td-inner-type" th:text="${restaurantTierData.restaurantType}"></span>
                        <span class="td-inner-type" th:text="'위치: ' + ${restaurantTierData.restaurantPosition}"></span>
                    </div>
                </td>
                <td th:if="${!isJH}" class="td-center" style="min-width: 42px">
                    <div th:if="${restaurantTierData.mainTier > 0 && (aiTier || (!aiTier && !restaurantTierData.isTempTier))}"
                         class="tier-img-wrap"
                         th:classappend="${restaurantTierData.isTempTier} ? ' ai-temp'">
                        <img class="td-tier-img" th:classappend="${restaurantTierData.isTempTier} ? ' ai-temp-img'"
                             th:src="${restaurantTierData.getTierImgUrl()}" alt="tier"/>

                        <!-- 임시 티어일 때만 툴팁 노출 -->
                        <div class="ai-temp-tt" th:if="${restaurantTierData.isTempTier}">
                            AI가 분석한 임시 티어입니다.
                        </div>
                    </div>
                    <span th:if="${restaurantTierData.mainTier < 0 || (!aiTier && restaurantTierData.isTempTier)}" style="padding-right: 10px;">-</span>
                </td>
                <td style="min-width: 46px">
                    <div class="td-cuisine-outer">
                        <img class="td-cuisine-img" th:src="${restaurantTierData.getCuisineImgUrl()}">
                        <span class="td-cuisine-span" th:text="${restaurantTierData.restaurantCuisine}"></span>
                    </div>
                </td>
                <td class="td-situation">
                    <div class="td-situations-outer">
                        <img th:each="situation : ${restaurantTierData.situations}" th:src="'https://kustaurant.s3.ap-northeast-2.amazonaws.com/common/situation/' + ${situation} + '.png'">
                    </div>
                </td>
            </tr>
            <!-- 추가 정보 행 -->
            <tr th:if="${isJH}" class="tr-partnership">
                <td colspan="6">
                    <p th:text="'제휴 정보 - ' + ${restaurantTierData.partnershipInfo}">제휴 정보</p>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</main>

<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "14b5af05d120a20";
    if(window.wcs) {
        wcs_do();
    }
</script>
</body>

<!--페이지 컨트롤러-->
<div th:replace="~{page_controller::tier-page-controller}"></div>
<!--footer-->
<footer th:replace="~{common/footer::footerFragment}">
</footer>

</html>