HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### log ###
*.log

### env ###
.env
.env.*
**/.env
**/.env.*

### Cluade ###
.CLAUDE.md.swp
CLAUDE.md
plan.md

### monitoring ###
infra/monitoring/grafana/grafana.db
infra/monitoring/grafana/data/
infra/monitoring/grafana/plugins/
infra/monitoring/grafana/png/
infra/monitoring/grafana/pdf/
infra/monitoring/grafana/csv/
infra/monitoring/grafana/grafana-apiserver/
infra/monitoring/grafana/*-storage/
infra/monitoring/grafana/backup-*/

infra/monitoring/loki/data/
infra/monitoring/loki/chunks/
infra/monitoring/loki/wal/
infra/monitoring/loki/index/
infra/monitoring/loki/boltdb-shipper/
infra/monitoring/loki/compactor/

monitoring/prometheus-data/
monitoring/prometheus/wal/
monitoring/prometheus/snapshots/

infra/monitoring/promtail/positions.yaml
infra/monitoring/promtail/positions.yml
infra/monitoring/promtail/*.pos

infra/monitoring/**/certs/
infra/monitoring/**/secrets/