<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C47HQ74QCF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C47HQ74QCF');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2CX8XG3');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>쿠스토랑 - 커뮤니티</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 아이콘 관련 라이브러리 -->
    <script src="https://kit.fontawesome.com/0c60714712.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- 탭 관련 라이브러리 / 순서 지켜야함 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/library/vendors.min.css">
    <link rel="stylesheet" href="/css/library/style.min.css">
    <link rel="stylesheet" href="/css/library/responsive.min.css">
    <link rel="stylesheet" href="/css/library/restaurant.css">
    <link rel="stylesheet" type="text/css" href="/css/community/community-style.css">
    <!-- 파비콘 -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- js   -->
    <script type="text/javascript" src="/js/library/jquery.js"></script>
    <script type="text/javascript" src="/js/library/vendors.min.js"></script>
    <script type="text/javascript" src="/js/library/main.js"></script>
    <script src="/js/community/communityScript.js"></script>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2CX8XG3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!--상단 탭 fragment 붙여넣기-->
<header th:replace="~{common/navbar-new :: navbarFragment}"></header>
<!--커뮤니티 첫번쨰 body-->
<section
         class="top-banner mt-0 mb-1 page-title-big-typography cover-background p-0 md-background-position-left-center"
         style="background-image: url('/img/home/background.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center small-screen">
            <div class="col-lg-6 col-md-8 position-relative text-center page-title-extra-large appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h1 class="alt-font text-dark-gray ls-minus-1px mb-0 text-uppercase">커뮤니티</h1>
                <h2 class="m-auto fw-600 text-uppercase mb-0">다양한 의견을 나눠보세요</h2>
            </div>
        </div>
    </div>
</section>
<div id="content">
    <div id="filterDiv">
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <span th:text="${postCategory.koreanName}"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" th:href="@{/community}"
                       th:classappend="${postCategory.name() == 'ALL' ? 'active' : ''}">전체</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='FREE')}"
                       th:classappend="${postCategory.name() == 'FREE' ? 'active' : ''}">자유 게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='COLUMN')}"
                       th:classappend="${postCategory.name() == 'COLUMN' ? 'active' : ''}">칼럼 게시판</a></li>
                <li><a class="dropdown-item" th:href="@{/community(postCategory='SUGGESTION')}"
                       th:classappend="${postCategory.name() == 'SUGGESTION' ? 'active' : ''}">건의 게시판</a></li>
            </ul>
        </div>
        <div class="right-Icon">
            <a href="community/write"><img class="icon" src="/img/community/write.png" alt="글쓰기"></a>
        </div>
    </div>
    <div>

        <a class="filter firstFilter"
           th:href="${'/community?sort=LATEST&postCategory=' + postCategory}">

            <img src="/img/community/recent-green.png" th:if="${sort.name() == 'LATEST'}"><img
                src="/img/community/recent.png" th:if="${sort.name() == 'POPULARITY'}">최신</a>
        <a class="filter"
           th:href="${'/community?sort=POPULARITY&postCategory=' + postCategory}">

            <img src="/img/community/fire-green.png" th:if="${sort.name() == 'POPULARITY'}"><img
                src="/img/community/fire.png" th:if="${sort.name() == 'LATEST'}">인기</a>
    </div>
    <ul id="postul">
        <li th:each="post,iterStat: ${postList}" class="postli">
        <span class="recommend-tab">
            <img src="/img/community/up.png">
            <span th:text="${post.likeCount}"></span>
        </span>
            <div class="postBox">
                <div>
                    <a class="postLink" th:text="${post.postTitle}" th:href="@{/community/{postId}(postId=${post.postId})}"></a>
                    <span th:if="${post.commentCount!=0}" class="comment-count" th:text="'[' + ${post.commentCount} + ']'">
                    </span>
                </div>

                <div class="underLink">
                    <span id="category" th:text="${post.postCategory.koreanName}"></span>

                    <!--     현재 postList의 인덱스에 해당하는 포스트의 생성시간으로부터의 경과 표시 (ex.1시간 전)               -->
                    <span id="createdAt" th:text="${post.timeAgo}"> </span>
                    <span id="author" th:text="${post.user.nickname}"></span>
                </div>
            </div>

            <!-- 게시글에 사진이 있으면 썸네일 표시 -->
            <img class="postImage" th:if="${post.postPhotoImgUrl!= null && !post.postPhotoImgUrl.equals('')}"
                 th:src="${post.postPhotoImgUrl}"/>
        </li>
    </ul>


</div>


<script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "14b5af05d120a20";
    if(window.wcs) {
        wcs_do();
    }
</script>
</body>


<div class="input-group">
    <input type="text" id="search_kw" class="form-control" th:value="${postSearchKw}">
    <button type="button" id="postSearch" class="alt-font">검색</button>
</div>
<!--페이지 컨트롤러-->
<div th:replace="~{page_controller::page-controller}"></div>
<!--footer-->
<footer th:replace="~{common/footer::footerFragment}">
</footer>
<form th:action="@{/community/search}" method="get" id="searchForm">
    <input type="hidden" id="kw" name="kw" th:value="${postSearchKw}">
    <input type="hidden" id="page" name="page" th:value="${paging.number}">
    <input type="hidden" id="sort" name="sort" th:value="${sort}">
    <input type="hidden" id="postCategory" name="postCategory" th:value="${postCategory}">
</form>
</html>