@import "variables.css";


/* 전체 페이지에 대한 기본 스타일 */
body {
    display: flex;

}
html{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh; /* 화면의 전체 높이 */
}

.slider-row{
    padding:0 3rem 0;
}
.row .col .position-absolute {
    font-weight: bold;
}

.home .col .col-12 {

    border: none;
    border-radius: 10px;
}

main {
    flex: 1; /* main 태그가 가능한 많은 공간을 차지하도록 함 */
    background-color: white;
}

.cell {
    padding: 0.75rem;
}



.mobile-cuisine-name span{
    white-space: nowrap;
}



.home .cell-button > .img {
    padding: 1.5rem;
    background-color: #f9f6f3;
}







.swiper-slide:hover {
    cursor: default !important;
}


#restaurantImageContainer {
    position: relative;
    width: 100%; /* 컨테이너 너비를 부모 요소에 맞춤 */
    padding-top: 75%; /* 너비와 동일한 높이 설정 */
    overflow: hidden; /* 이미지가 컨테이너를 벗어나지 않도록 함 */
}

#restaurantImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
}


#restaurantImageContainer{
    display: flex;
    justify-content: center;
}
/* 텍스트 커서 깜빡임 없애기 */
body {
    caret-color: transparent;
}
.home-grid{
    padding: 0 6% 6%;
}
/*img:hover {
    filter: brightness(50%); !* 마우스 오버 시 이미지 어둡게 *!
}*/
.mobile-cuisine-name {
    display: flex;
    justify-content: center;
    color: #333;
    font-family: 'NanumSquare', sans-serif;
    margin-top:7px;

}

/* 모바일 화면에서 종류 카테고리 이름 보이게 */
@media only screen and (max-width:1024px) {
    .mobile-cuisine-name {

        line-height: 19px;
        font-size: 14px;
    }
}
@media only screen and (min-width:1025px) {
    .mobile-cuisine-name {
        line-height: 25px;
        font-size: 18px;
    }
}

/*화면 꽉 채우고, 푸터 아래에 붙이기 */
html {
    height: 100vh; /* 뷰포트 높이의 100%로 설정 */
}

body {
    min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: flex;
    flex-direction: column;
}

footer{
    flex:1;
}
/*배너 높이*/
@media only screen and (max-width: 767px) {
    /* 모바일화면 */
    .top-banner{
        height: 200px;
    }

}

@media only screen and (min-width: 768px) {
    /* 모바일화면 */
    .top-banner{
        height: 250px;
    }

}


@media only screen and (min-width: 1024px) {
    /* pc화면 */
    .top-banner{
        height: 300px;
    }


    .button-grid{
        width: 900px;
    }

    .cell-button img:hover{
        filter: brightness(0.8);
        transition: filter 0.5s ease;
    }

}

@media only screen and (min-width: 1600px) {



    .button-grid{
        width: 1100px;
    }


}


@media only screen and (min-width: 2000px) {
    .button-grid{
        width: 1500px;
    }
    .cell-button img:hover{
        filter: brightness(0.8);
        transition: filter 0.7s ease;
    }
}

.firstSectionComment,.secondSectionComment {
    color: var(--main-color);
}

.button-grid{
    margin:0 auto;
    padding-top: 0;
}

/* 메인 글자를 h1에서 h2로 바꿔서 글자 크기가 알아서 안바뀌는것같아서 media query 추가함 */
@media only screen and (min-width: 992px) {
    h2.main-page-title {
        font-size: 50px;
        line-height:80px;
        color: #2a2a2a;
    }
    h2.firstSectionComment {
        font-size: 20px;
    }
    .googledown, .appledown{
        width: 150px;
        height: 50px;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 991px) {
    h2.main-page-title {
        font-size: 42px;
        line-height:70px;
        color: #2a2a2a;
    }
    .googledown, .appledown{
        width: 120px;
        height: 40px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px) {
    h2.main-page-title {
        font-size: 28px;
        line-height:60px;
        color: #2a2a2a;
    }
    .googledown, .appledown{
        width: 90px;
        height: 30px;
    }
}
@media only screen and (max-width: 420px) {
    h2.main-page-title {
        font-size: 20px;
        line-height:55px;
        color: #2a2a2a;
    }
    h2.firstSectionComment {
        font-size: 11px;
    }
    .googledown, .appledown{
        width: 90px;
        height: 30px;
    }
}

.form-check-input{
    padding: 8px;
    margin-right: 10px;
}