spring:
  application.name: kustaurant
  config:
    import:
      - "optional:file:server/kustaurant/.env[.properties]"
      - "optional:auth.yml"
      - "optional:.env"
  servlet:
    multipart:
      enabled: true
      max-file-size: "10MB"
      max-request-size: "10MB"

  thymeleaf:
    encoding: "UTF-8"

  jpa:
    hibernate.ddl-auto: validate
  cloud:
    aws:
      region:
        static: "ap-northeast-2"
      credentials:
        access-key: "${AWS_ACCESS_KEY}"
        secret-key: "${AWS_SECRET_KEY}"
      s3:
        bucket: kustaurant

  session:
    redis:
      flush-mode: on-save
      namespace: spring:session
      repository-type: indexed

# swagger
springdoc:
  swagger-ui:
    tagsSorter: alpha   # 태그 이름 알파벳 정렬
    operationsSorter: alpha

# monitoring
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized
  metrics:
    tags:
      application: kustaurant
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  # tracing
#  tracing:
#    sampling:
#      probability: 0.1
#  observations:
#    annotations:
#      enabled: true

# discord-alert
alert:
  discord:
    webhook: ${ALERT_DISCORD_WEBHOOK}

# logging level
logging.level.com.kustaurant: trace

# custom setting
restaurant:
  situation_min_count: 3
  initialDisplayMenuCount: 2
  rating:
    policy:
      score:
        prior_weight: 5
        evaluation:
          reaction_divisor: 10
          reaction_scale: 0.5
          evaluator_k: 3
          completeness_weight:
            score: 0.7
            comment: 0.2
            situation: 0.05
            image: 0.05
        ai:
          l0: 0.2
          l1: 0.6
        restaurant:
          min_evaluation_cnt: 4
          many_evaluation_cnt: 10
          evaluation_cnt_prior_strength_k: 4
      tier:
        levels:
          1:
            min_score: 4.02
            max_ratio: 0.20
          2:
            min_score: 3.85
            max_ratio: 0.25
          3:
            min_score: 3.65
            max_ratio: 0.25
          4:
            min_score: 3.45
            max_ratio: 0.30