spring:
  jpa:
#    show-sql: true
    properties:
      hibernate:
        format_sql: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/kustaurant_local?serverTimezone=UTC
    username: root
    password: 1234

  flyway:
    enabled: true
    locations: classpath:db/migration/local

  data:
    redis:
      host: 127.0.0.1
      port: 6379

logging:
  level:
    com.kustaurant: trace
    org.flywaydb.core: info

management:
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans